body {
    background-image: Linear-gradient(217deg, rgba(255,0,0,8) , black 70.71%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
.cources {
    width:100%;
    height: 50vh;
    background-image: url('https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png');
    background-position: center;
    background-repeat: no-repeat;
}
.cources h1{ 
    text-align: center;
    color: white;
    font-size: 5em ;
    font-family: fantasy;
}
h2 {
    text-align: center;
    color: burlywood;
}
input {
    widows: 5%;
    height: 5%;
}
a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
}
nav ,ul ,li{
    margin: 0 5px;
}
ul { list-style-type: none;
    font-size: 30px;
    display: inline-flex;}
#logo {
     
     position: absolute;
     top: 2px;
     left: 30px;
     height: 50px;
     width: 50px;
}    
.entete a:hover {
    color: dodgerblue;
    transition: 0.5s;
}  
.entete a {
    color: floralwhite;
    text-decoration: none;
  }

.btn1, .btn4 ,btn7 { 
    position: relative;
    top : 100px;
    right : 300px;
}
.btn2,.btn5,.btn8 { 
    position: relative;
    top : 100px;
}
.btn3 ,.btn6, .btn9{ 
    position: relative;
    top : 100px;
    left : 300px;
}

